.participation {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px;
  }
  &__title {
    width: 300px;
    padding: 10px 30px;
    background-color: #eef2f3;
    border-radius: 50px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    &::after {
      position: absolute;
      content: "";
      height: 20px;
      border: 1px dashed #7349b4;
      display: block;
      display: block;
      left: 50%;
      bottom: -20px;
    }
  }

  &__arrows-upper-wrapper {
    width: 100%;
    padding: 0 8%;
  }
  &__arrows-upper {
    width: 100%;
    height: 20px;
    border: 1px dashed #7349b4;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-color: transparent;
    border-bottom-right-radius: 0;
  }

  &__arrows-inner {
    width: 60%;
    height: 20px;
    margin: -1px auto;
    border: 1px dashed #7349b4;
    border-bottom-color: transparent;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__arrows-internal {
    width: 35%;
    height: 20px;
    margin: -1px auto;
    border: 1px dashed #7349b4;
    border-bottom-color: transparent;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__items {
    width: 100%;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    padding-bottom: 50px;
  }
  &__button {
    width: 280px;
    height: 85px;
  }
}
