@import "../../../variables.scss";
@import "../../../mixins.scss";

.about {
    position: relative;
    width: 100%;
    max-width: 100%;
    background: crimson;
    box-shadow: 0 -150px 70px -120px teal inset, 0 -220px 70px -120px yellowgreen inset, 0 -280px 70px -120px gold inset;
    animation: bg 4s infinite alternate;
    &__container {
        padding: 60px 0;
        display: grid;
        gap: 60px;
        grid-template-columns: 40% 60%;
    }
    &__wrapper-left {
        position: relative;
        background-image: url(./about.jpg);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__title {
        text-align: center;
        margin: 50px 0;
    }
    &__decs {
        &-item {
            display: flex;
            padding: 20px;
        }
        &-check {
            margin-right: 25px;
        }
    }
}

@keyframes bg {
    50% {
        background: pink;
        box-shadow: 0 -140px 70px -120px mediumorchid inset, 0 -210px 70px -120px teal inset,
            0 -280px 70px -120px plum inset;
    }
}
.gradient {
    margin: 0;
    padding: 0 120px;
    background: #eee;
}
