@import "../../../variables.scss";
@import "../../../mixins.scss";

.about {
    position: relative;
    background-image: url(./about-banner.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 100px;
    &__container {
        padding: 100px 0;
        display: grid;
        grid-template-columns: 60% 40%;
    }
    &__decs {
        &-item {
            display: flex;
            padding: 20px;
        }
        &-check {
            margin-right: 25px;
        }
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        border-left: 1px solid $color-white;
        border-bottom: 1px solid $color-white;
        top: 466px;
        left: 148px;
    }
    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        border-top: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        top: 106px;
        left: 915px;
    }
}
