@import "../../../variables.scss";
@import "../../../mixins.scss";

.topbar {
    justify-content: flex-start;
    &_zindexed {
        position: relative;
        z-index: 1;
    }
    &__bg {
        position: relative;
        // background-image: url(./banner.png);
        height: 650px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__wrapper-nav {
        display: grid;
        grid-template-columns: 70% 30%;
        margin-bottom: 100px;
    }
    &__social {
        &-wrap {
            width: 30px;
            height: 35px;
            margin: 0 10px;
            &_youtube {
                width: 50px;
                height: 50px;
            }
        }
        &-img {
            transition: all 0.5s ease;
        }
    }
    &__logo {
        width: 50px;
        height: 50px;
        margin-right: 30px;
    }
    &__icon {
        width: 35px;
        height: 35px;
        margin-right: 25px;
    }
    &__box {
        padding: 30px 0 0 60px;
        &-item {
            padding-right: 50px;
            a:hover {
                color: #cd00cd;
                padding-bottom: 3px;
                border-bottom: 1px solid $color-shadowy;
            }
        }
    }
    &__main {
        justify-content: space-evenly;
        padding: 30px 150px;
        &-h1 {
            margin-bottom: 80px;
        }
        &-title {
            font-size: 70px;
            line-height: 61px;
        }
        &-slogan {
            margin-bottom: 60px;
        }
        &-left {
            text-align: center;
        }
        &-date {
            margin-bottom: 50px;
        }
        &-calendar,
        &-time,
        &-address {
            width: 55px;
            height: 55px;
            margin-right: 20px;
        }
    }
    &__button {
        border-radius: 5px;
        border: 1px solid $color-salat;
        background: linear-gradient(to top, transparent 20%, #1b1b1b 50%, transparent 80%);
        cursor: pointer;
        margin: 20px;
        width: 200px;
        height: 60px;
        letter-spacing: 6px;
        box-shadow: 2px 4px 94px rgba(172, 245, 34, 0.7);
        font-weight: bolder;
        &:hover {
            background-color: rgba(172, 245, 34, 0.3);
        }
    }
    &__wrapper-buttonlng {
        margin-left: 150px;
    }
    &__button-lng {
        border-radius: 5px;
        padding: 10px 15px;
        color: $base-color;
        background-color: $color-white;
    }
}
$an: 0;
$topbar__social-wrap: 7;

@keyframes pulse {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.7);
    }
}

@while $an <= $topbar__social-wrap {
    .an:nth-child(#{$an}) {
        display: inline-block;
        animation: pulse 4s infinite ease-in-out;
        animation-delay: #{$an/3}s;
    }
    $an: $an + 1;
}
