/* poppins-200 - latin */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url("./Roboto-Light.ttf") format("woff2");
}
/* poppins-regular - latin */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url("./Roboto-Regular.ttf") format("woff2");
}
/* poppins-500 - latin */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url("./Roboto-Medium.ttf") format("woff2");
}
/* poppins-600 - latin */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url("./Roboto-Bold.ttf") format("woff2");
}
/* poppins-700 - latin */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    src: url("./Roboto-Black.ttf") format("woff2");
}
