@import "../../../variables.scss";
@import "../../../mixins.scss";

.program {
    margin-bottom: 80px;
    &__wrap-title {
        padding: 70px 0 40px 0;
    }
    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 5px;
        color: $color-shadowy;
        text-shadow: 0 0 5px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de,
            0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    &__button {
        width: 200px;
        height: 65px;
        border-radius: 20px;
        background: linear-gradient(85deg, #fb63f9, #c2e534);
    }
}
