@import "../../../variables.scss";
@import "../../../mixins.scss";

.you-want {
    position: relative;
    padding: 70px 0;
    &__left {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 100px;
        @include for-phone-only {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
    &__image {
        background-image: url(./man.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        margin-bottom: 40px;
        border-radius: 6%;
        @include for-phone-only {
            background-image: url(./man-mobile.png);
            border-radius: 0;
            background-size: cover;
            width: 100%;
            height: 350px;
            border-radius: 10%;
            margin-bottom: 15px;
        }
    }
    &__title {
        text-align: center;
        letter-spacing: 3px;
        padding: 50px;
        text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff, 0 0 6px #ff00de, 0 0 10px #ff00de, 0 0 20px #ff00de;
        @include for-phone-only {
            letter-spacing: 2px;
            padding: 0 19px 20px 19px;
            text-align: center;
        }
    }
    &__subtitle {
        font-size: 23px;
        font-weight: 600;
        text-align: center;
        line-height: 27px;
        padding-bottom: 40px;
        @include for-phone-only {
            font-size: 21px;
            font-weight: 600;
            text-align: center;
            line-height: 23px;
            padding-bottom: 10px;
        }
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 180px;
            border-bottom: 3px solid #ff00de;
            border-radius: 5px;
            right: 17%;
            margin-bottom: 3px;
            @include for-phone-only {
                display: none;
            }
        }
    }
    &__box {
        padding: 30px;
        @include for-phone-only {
            padding: 20px;
        }
        &-box {
            @include for-phone-only {
                flex-direction: row;
            }
        }
        &-item {
            padding-bottom: 45px;
            @include for-phone-only {
                padding-bottom: 25px;
            }
        }
        &-check {
            display: flex;
        }
        &-compon {
            margin-right: 30px;
            @include for-phone-only {
                margin-right: 10px;
            }
        }
    }
    &__agitation {
        text-align: center;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        @include for-desktop-up {
            flex-direction: row;
        }
        &-btns {
            justify-content: center;
        }
        &-wrap {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        @include for-phone-only {
            text-align: center;
        }
        &-button {
            padding: 20px;
            @include for-phone-only {
                display: flex;
                justify-content: center;
            }
        }
    }
}
.button-pink {
    background-image: url(../../common/LearnMoreBox/button-pink.png);
}
.text-big {
    @include for-phone-only {
        font-size: 18px;
        line-height: 23px;
    }
}
.no-flex {
    @include for-phone-only {
        display: block;
    }
}
