.statistic {
  &__wrapper {
    flex-direction: column;
    margin-right: 45px;
  }
  &__inner-icon {
    margin: 14px;
  }
  &__icon {
    width: 80px;
    height: 80px;
  }
  &__num {
    font-size: 20px;
    line-height: 15px;
    font-weight: 700;
    padding-bottom: 15px;
  }
  &__desc {
    text-align: center;
  }
}
