@import "../../../variables.scss";
@import "../../../mixins.scss";

.for-buyers {
    margin: 70px 100px 50px 0;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    gap: 100px;
    &__button {
        width: 200px;
        height: 65px;
        border-radius: 20px;
        background: linear-gradient(85deg, #fb63f9, #c2e534);
    }
    &__image {
        position: relative;
        background-image: url(./bg-tickets.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
    }
}
