
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto';
  letter-spacing: 1px;
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%; 
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

.wrapper {
  margin: 0 120px 0 120px;
}

.flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;

}

.text-thin {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}

.text-regular{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
}

.text-normal {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 32px;
  letter-spacing: 1px;
}

.text-middle {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

.text-small {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0em;
}

.text-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  line-height: 47px;
}

.text-subtitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 38px;
  letter-spacing: 1px;
  color: #848484;
}

.text-title-less {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
}

.text-title-big {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 3px;
  color: #352B30;
}

.uppercase {
  color: #1a1a1a;
  text-transform: uppercase;
}
.fonts-white {
  color: #ffffff;
}

.text-gray {
color: #505050;
}

.uppercase-white {
  color: white;
  text-transform: uppercase;
}
