$base-color: #9a1f56;
$color-dark: #1a1a1a;
$color-shadowy: #1b1b1b;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #f5f5f5;
$color-dark-gray: #848484;
$color-green: #0cbe64;
$color-red: #dc0000;
$color-pink: #f8c0d0;

//fonts
$fons-title: "Poppins700";
$fonts-heading: "Poppins600";
$font-medium: "Poppins500";
$fonts-regular: "Poppins400";
$font-small: "Poppins200";
