@import "../../../variables.scss";
@import "../../../mixins.scss";

.footer {
  color: $color-white;
  font-size: 13px;
  line-height: 20px;
  background-color: $color-dark;
  &__upper-block {
    display: grid;
    grid-template-columns: 35% 20% 18% 12% 15%;
    padding: 30px;
    border-bottom: 1px solid $color-white;
    @include for-phone-only {
      display: none;
    }
  }
  &__logo-wrapper {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
  }
  &__desc {
    font-size: 12px;
    padding-bottom: 25px;
  }
  &__site {
    font-size: 10px;
  }
  &__col {
    &-link {
      a {
        color: $color-white;
      }
    }
    &-item {
      padding-bottom: 10px;
      a:hover {
        color: aqua;
      }
    }
    &-number {
      margin-top: 20px;
      a {
        &:hover {
          text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff, 0 0 6px #ff00de, 0 0 10px #ff00de;
        }
      }
    }
  }
  &__col-advertising-text {
    padding-bottom: 6px;
  }
  &__col-advertising-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    img {
      border-radius: 10%;
    }
  }
  &__col-advertising-contact {
    img {
      margin-right: 7px;
    }
    a {
      &:hover {
        text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff, 0 0 6px #ff00de, 0 0 10px #ff00de;
      }
    }
  }
  &__col-advertising-box {
    margin-top: 10px;
    padding-right: 19px;
    img {
      margin-right: 10px;
    }
  }
  // &__col-advertising-insta,
  // &__col-advertising-mail,
  // &__col-advertising-git,
  // &__col-advertising-skype {
  //   &:hover {
  //     svg {
  //       stroke: aqua;
  //     }
  //   }
  // }
  &__second-block {
    font-size: 10px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    @include for-phone-only {
      padding: 22px 54px;
    }
  }
}
.icon-size-little {
  width: 20px;
  height: 20px;
  &:hover {
    stroke: aqua;
  }
}
