@import "../../../variables.scss";
@import "../../../mixins.scss";

.learn-box {
    padding: 0 12px;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
    width: 290px;
    height: 228px;
    flex-direction: column;
    -moz-box-shadow: 0px 0px 14px #fc0fc0;
    -webkit-box-shadow: 0px 0px 14px #fc0fc0;
    box-shadow: 1px 1px 19px #fc0fc0;
    @include for-phone-only {
        width: 250px;
        height: 200px;
        margin-bottom: 30px;
    }
    @include for-tablet-portrait-up {
        width: 230px;
        height: 180px;
    }
    &:hover {
        background-color: $color-gray;
    }
    &__title {
        text-align: center;
        padding-bottom: 20px;
        font-size: 20px;
        line-height: 35px;
        @include for-phone-only {
            padding-bottom: 14px;
            line-height: 28px;
        }
        @include for-tablet-portrait-up {
            padding-bottom: 15px;
            font-size: 18px;
            line-height: 30px;
        }
    }
    &__button-blue {
        background-image: url(./button-blue.png);
    }
    &__button-pink {
        background-image: url(./button-pink.png);
    }
    &__button-green {
        background-image: url(./button-green.png);
    }
    &__button-darkblue {
        background-image: url(./button-darkblue.png);
    }
    &__button-orang {
        background-image: url(./button-orang.png);
    }
}
