@import "../../../variables.scss";
@import "../../../mixins.scss";

.more {
    position: relative;
    background-image: url(./bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 60px;
    @include for-phone-only {
        padding: 40px 20px;
    }
    @include for-tablet-portrait-up {
        padding: 30px 40px;
    }
    &__flex {
        justify-content: space-evenly;
        @include for-phone-only {
            flex-direction: column;
        }
    }
}
