@import "../../../variables.scss";
@import "../../../mixins.scss";

.safety {
  &__wrapper {
    padding: 0 100px 50px 100px;
    background-color: $color-gray;
  }
  &__title {
    padding: 35px 0;
    text-align: center;
  }
  &__measures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    .measure-icon {
      width: 40px;
      height: 40px;
    }
  }
}
