.measure {
  flex-direction: column;
  text-align: center;
  &__wrapper-icon {
    margin-bottom: 15px;
  }
  &__title {
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    padding-bottom: 14px;
  }
}
